<div class="info">
    <h3><label for="">Name: </label>  {{ employee.name}}</h3>
    <h3><label for="">Company: </label>  {{ employee.company}}</h3>
    <h3><label for="">Role: </label>  {{ employee.role}}</h3>
    <h3><label for="">package: </label>  {{ employee.package}}</h3>
    <h3><label for="">Email: </label>  {{ employee.email}}</h3>
    <h3><label for="">Dob: </label>  {{ employee.dob}}</h3>
    <h3><label for="">Address: </label> <br><label for="">Addressline:</label> {{ employee.address.addressLine}} <br><label for="">City:</label> {{ employee.address.city}} <br><label for="">State:</label> {{ employee.address.state}} <br><label for="">Pincode:</label> {{ employee.address.pincode}}</h3>
    <h3><label for="">Type: </label>  {{ employee.type}}</h3>
    <h3><label for="">Hikes: </label>  {{ employee.name}}</h3>
    <h3><label for="">BillAmount: </label>  {{ employee.billAmount}}</h3>


</div>
